@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}



body {
    color: var(--dark-grayish-blue);
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background-image: url('/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 40px;
}

img {
    max-width: 100%;
}

.container {
    margin: 40px auto;
    width: 1200px;
    max-width: 100%;
}

.container-small {
    width: 700px;
}

.container-footer {
    margin: 40px auto;
    margin-bottom: -40px;
    width: 1200px;
    max-width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex > * {
    flex: 1;
    padding: 10px;
}

.btn {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 35px;
    margin: 15px 5px;
}

.btn-primary {
    background-color: var(--strong-cyan);
    box-shadow: 0 4px hsl(171, 68%, 36%);
}

.btn-secondary {
    background-color: var(--light-blue);
    box-shadow: 0 4px hsl(233, 71%, 61%);
}

footer {
    background-color: var(--grayish-blue);
}

footer img {
    width: 60px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

footer ul a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

footer .links {
    flex: 3;
}

footer .links li {
    margin-right: 40px;
    padding: 10px;
}

footer .social li {
    margin-right: 10px;
}

footer .social li {
    font-size: 24px;
    margin-right: 10px;
}

@